<!-- <div id="scores" class="flex around middle">
	<div class="stat">
		<h2>STR</h2>
		<h3 class="text-success">+3</h3>
		<p>13</p>
	</div>
	<div class="stat">
		<h2>DEX</h2>
		<h3 class="text-danger">-1</h3>
		<p>8</p>
	</div>
	<div class="stat">
		<h2>CON</h2>
		<h3>+3</h3>
		<p>13</p>
	</div>
	<div class="stat">
		<h2>INT</h2>
		<h3>+3</h3>
		<p>13</p>
	</div>
	<div class="stat">
		<h2>WIS</h2>
		<h3>+3</h3>
		<p>13</p>
	</div>
	<div class="stat">
		<h2>CHA</h2>
		<h3>+3</h3>
		<p>13</p>
	</div>
</div> -->

<!-- <hr> -->

<div class="row">
	<div id="skills" class="col-md-6">
		<div class="flex between middle">
			<h3>14</h3>
			<h3>Strength</h3>
			<div class="flex between middle">
				<h4>Mod</h4>
				<h4 class="text-success">+3</h4>
			</div>
			<div class="flex between middle">
				<h4>Save</h4>
				<h4 class="text-success">+3</h4>
			</div>
		</div>
		<ul>
			<li>
				<p>&#10003;</p>
				<p>Athletics</p>
				<p>+3</p>
			</li>
		</ul>
		<div class="flex between middle">
			<h3>08</h3>
			<h3>Dexterity</h3>
			<div class="flex between middle">
				<h4>Mod</h4>
				<h4 class="text-danger">-1</h4>
			</div>
			<div class="flex between middle">
				<h4>Save</h4>
				<h4 class="text-danger">-1</h4>
			</div>
		</div>
		<ul>
			<li>
				<p>&#10003;</p>
				<p>Acrobatics</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Sleight of Hand</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Stealth</p>
				<p>+3</p>
			</li>
		</ul>
		<div class="flex between middle">
			<h3>13</h3>
			<h3>Constitution</h3>
			<div class="flex between middle">
				<h4>Mod</h4>
				<h4 class="text-success">+2</h4>
			</div>
			<div class="flex between middle">
				<h4>Save</h4>
				<h4 class="text-success">+2</h4>
			</div>
		</div>
		<div class="flex between middle">
			<h3>13</h3>
			<h3>Intelligence</h3>
			<div class="flex between middle">
				<h4>Mod</h4>
				<h4 class="text-success">+2</h4>
			</div>
			<div class="flex between middle">
				<h4>Save</h4>
				<h4 class="text-success">+2</h4>
			</div>
		</div>
		<ul>
			<li>
				<p>&#10003;</p>
				<p>Arcana</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>History</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Investigation</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Nature</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Religion</p>
				<p>+3</p>
			</li>
		</ul>
		<div class="flex between middle">
			<h3>13</h3>
			<h3>Wisdom</h3>
			<div class="flex between middle">
				<h4>Mod</h4>
				<h4 class="text-success">+2</h4>
			</div>
			<div class="flex between middle">
				<h4>Save</h4>
				<h4 class="text-success">+2</h4>
			</div>
		</div>
		<ul>
			<li>
				<p>&#10003;</p>
				<p>Animal Handling</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Insight</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Medicine</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Perception</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Survival</p>
				<p>+3</p>
			</li>
		</ul>
		<div class="flex between middle">
			<h3>13</h3>
			<h3>Charisma</h3>
			<div class="flex between middle">
				<h4>Mod</h4>
				<h4 class="text-success">+2</h4>
			</div>
			<div class="flex between middle">
				<h4>Save</h4>
				<h4 class="text-success">+2</h4>
			</div>
		</div>
		<ul>
			<li>
				<p>&#10003;</p>
				<p>Deception</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Intimidation</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Investigation</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Performance</p>
				<p>+3</p>
			</li>
			<li>
				<p>&#10003;</p>
				<p>Persuasion</p>
				<p>+3</p>
			</li>
		</ul>
	</div>
	<div id="info" class="col-md-6">
		<div class="text-center">
			<h4><strong>Asta Cinderheart</strong>,</h4>
			<h4>is a <strong>Teifling</strong></h4>
			<h4>who lived as a <strong>beggar</strong>.</h4>
		</div>
		<h2>Features</h2>
		<div class="features-list">
			<h4>Darkvision</h4>
			<h4>Improved Fighting</h4>
		</div>
	</div>
</div>