@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700,800');

// main.styl
@import '~vuetify/src/stylus/main' // Ensure you are using stylus-loader

$primary = red

body
    background #fafbfc