<h1>Asta Cinderheart</h1>
<h4 class="text-muted">Level 1 Cleric (War)</h4>
<div class="level">
	<p>Lv. 1</p>
	<div class="bar">
		<div class="pos"></div>
		<h3>100/300</h3>
	</div>
	<p>Lv. 2</p>
</div>
<hr>
<div class="info flex around">
	<div>
		<h2>12</h2>
		<h3>Armor Class</h3>
	</div>
	<div>
		<h2>9
			<sup>/ 9</sup>
		</h2>
		<h3>Hit Points</h3>
	</div>
	<div>
		<h2>30ft.</h2>
		<h3>Speed</h3>
	</div>
</div>
<hr>
<ul class="nav justify-content-end">
	<li class="nav-item">
		<a href="" class="nav-link">Abilities & Skills</a>
	</li>
	<li class="nav-item">
		<a href="" class="nav-link active">Inventory</a>
	</li>
	<li class="nav-item">
		<a href="" class="nav-link">Equipment</a>
	</li>
	<li class="nav-item">
		<a href="" class="nav-link">Spells</a>
	</li>
	<li class="nav-item">
		<a href="" class="nav-link">Features</a>
	</li>
</ul>