<header>
  <h1>Character Creator</h1>
</header>
<div class="flex center">
  <a class="nav-link active">Skills</a>
  <a class="nav-link">Equipment</a>
  <a class="nav-link">Background</a>
  <a class="nav-link">Backpack</a>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <input type="text" class="form-control">
      <label for="">Name</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <input type="text" class="form-control">
      <label for="">Class</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <input type="text" class="form-control">
      <label for="">Race</label>
    </div>
  </div>
</div>