<div class="container">
	<header>
		<div class="row middle">
			<div class="col">
				<h2>Character Creator</h2>
			</div>
			<div class="col text-right">
				<button routerLink="/characters/create" class="btn btn-outline-success">Add +</button>
			</div>
		</div>
		<hr>
	</header>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<input placeholder="Character Name" type="text" class="form-control">
				<label>Name</label>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input placeholder="Character Race" type="text" class="form-control">
				<label>Race</label>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input placeholder="Character Class" type="text" class="form-control">
				<label>Class</label>
			</div>
		</div>
	</div>
</div>