/* You can add global styles to this file, and also import other style files */
@require "./vars.styl"

hr
	background primary
	height 2px

h3,h4,h5,p
	color secondary

h1, h2
	color primary

.flex
	display flex
	&.middle
		align-items center
	&.around
		justify-content space-around
	&.between
		justify-content space-between
	&.center
		justify-content center
	&.bottom
		align-items flex-end
	

ul.nav
	a
		text-transform uppercase
		color #aaa
		font-weight: 500
		border-bottom: 1px solid #aaa
		&.active
			color primary
			border-color primary

.full-screen
	position absolute
	top 0
	right 0
	left 0
	bottom 0

header
	margin 1em 0